body {
  background-color: #000000;
  color: #444444;
  /* font-family: 'Roboto', sans-serif; */
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.wrapper {
  /* margin: 15px auto; */
  max-width: 1100px;
}
.time-div ul {
  list-style: none;
}

.container-calendar {
  background: #000;
  padding: 15px;
  max-width: 100%;
  margin: 0 auto;
  overflow: auto;
  border: 1px solid #eee;
}

.button-container-calendar button {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #d65470;
  color: #fff;
  border: 1px solid #fdb3c3;
  border-radius: 4px;
  padding: 5px 10px;
}

.table-calendar {
  border-collapse: collapse;
  width: 100%;
}

.table-calendar td,
.table-calendar th {
  padding: 5px;
  border: 1px solid #e2e2e2;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
}

.date-picker.selected {
  font-weight: bold;
  outline: 1px dashed #00bcd4;
}

.date-picker.selected span {
  border-bottom: 2px solid currentColor;
}

/* sunday */
.date-picker:nth-child(7) {
  color: red;
}

/* friday */
.date-picker:nth-child(6) {
  /* color: green; */
  color: red;
}

#monthAndYear {
  text-align: center;
  margin-top: 0;
}

.button-container-calendar {
  position: relative;
  margin-bottom: 1em;
  overflow: hidden;
  clear: both;
}

#previous {
  float: left;
}

#next {
  float: right;
}

.footer-container-calendar {
  margin-top: 1em;
  border-top: 1px solid #dadada;
  padding: 10px 0;

  text-align: center;
}

.footer-container-calendar select {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #ffffff;
  color: #000;
  border: 1px solid #bfc5c5;
  border-radius: 3px;
  padding: 5px 1em;
}

.footer-container-calendar label {
  padding-left: 80px;
}

.time-div a {
  border: 1px solid #eee;
  display: block;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.time-div {
  border: 1px solid #eee;
  padding: 20px;
  width: 100%;
}

.wizard-content-left {
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.45);
  background-image: url("https://i.ibb.co/X292hJF/form-wizard-bg-2.jpg");
  background-position: center center;
  background-size: cover;
  height: 100vh;
  padding: 30px;
}

.wizard-content-left h1 {
  color: #ffffff;
  font-size: 38px;
  font-weight: 600;
  padding: 12px 20px;
  text-align: center;
}

.form-wizard {
  color: #fff;
  padding: 30px;
}

.form-wizard .wizard-form-radio {
  display: inline-block;
  /* margin-left: 5px; */
  position: relative;
}

.form-wizard .wizard-form-radio input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: #dddddd;
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 49%;
  position: relative;
  cursor: pointer;
}

.form-wizard .wizard-form-radio input[type="radio"]:focus {
  outline: 0;
}

.form-wizard .wizard-form-radio input[type="radio"]:checked {
  background-color: #fb1647;
}

.form-wizard .wizard-form-radio input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #ffffff;
  border-radius: 50%;
  left: 0px;
  right: 0;
  margin: 0 auto;
  top: 5px;
}

.form-wizard .wizard-form-radio input[type="radio"]:checked::after {
  content: "";
  display: inline-block;
  webkit-animation: click-radio-wave 0.65s;
  -moz-animation: click-radio-wave 0.65s;
  animation: click-radio-wave 0.65s;
  background: #000000;
  content: "";
  display: block;
  position: relative;
  z-index: 100;
  border-radius: 50%;
}

.form-wizard .wizard-form-radio input[type="radio"] ~ label {
  padding-left: 10px;
  cursor: pointer;
  font-size: 14px;
}

.form-wizard .form-wizard-header {
  text-align: center;
}

.form-wizard .form-wizard-next-btn,
.form-wizard .form-wizard-previous-btn,
.form-wizard .form-wizard-submit {
  background-color: #d65470;
  color: #ffffff;
  display: inline-block;
  min-width: 100px;
  min-width: 120px;
  padding: 10px;
  text-align: center;
}

.form-wizard .form-wizard-next-btn:hover,
.form-wizard .form-wizard-next-btn:focus,
.form-wizard .form-wizard-previous-btn:hover,
.form-wizard .form-wizard-previous-btn:focus,
.form-wizard .form-wizard-submit:hover,
.form-wizard .form-wizard-submit:focus {
  color: #ffffff;
  opacity: 0.6;
  text-decoration: none;
}

.form-wizard .wizard-fieldset {
  display: none;
}

.form-wizard .wizard-fieldset.show {
  display: block;
}

.form-wizard .wizard-form-error {
  display: none;
  background-color: #d70b0b;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  height: 2px;
  width: 100%;
}

.form-wizard .form-wizard-previous-btn {
  background-color: #fb1647;
}

.form-wizard .form-control {
  font-weight: 300;
  height: auto !important;
  color: #fff;
  background-color: black !important;
  border-bottom: 2px solid #fff;
  border-top: none;
  border-left: none;
  border-right: none;
}

.form-wizard .form-control:focus {
  box-shadow: none;
  font-weight: 300;
  height: auto !important;
  color: #000;
  background-color: #fff !important;
  border-bottom: 2px solid #fff;
  border-top: none;
  border-left: none;
  border-right: none;
}

.form-wizard .form-group {
  position: relative;
  padding: 10px 0px;
}

.form-wizard .wizard-form-text-label {
  position: absolute;
  left: 10px;
  top: 16px;
  transition: 0.2s linear all;
}

.focus-input .wizard-form-text-label {
  color: #d65470;
  top: -18px;
  transition: 0.2s linear all;
  font-size: 12px;
}

.form-wizard .form-wizard-steps {
  margin: 30px 0;
}

.form-wizard .form-wizard-steps li {
  width: 25%;
  float: left;
  position: relative;
}

.form-wizard .form-wizard-steps li::after {
  background-color: #f3f3f3;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}

.form-wizard .form-wizard-steps li span {
  background-color: #dddddd;
  border-radius: 50%;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  position: relative;
  text-align: center;
  width: 40px;
  z-index: 1;
}

.form-wizard .form-wizard-steps li:last-child::after {
  width: 50%;
}

.form-wizard .form-wizard-steps li.active span,
.form-wizard .form-wizard-steps li.activated span {
  background-color: #d65470;
  color: #ffffff;
}

.form-wizard .form-wizard-steps li.active::after,
.form-wizard .form-wizard-steps li.activated::after {
  background-color: #d65470;
  left: 50%;
  width: 50%;
  border-color: #d65470;
}

.form-wizard .form-wizard-steps li.activated::after {
  width: 100%;
  border-color: #d65470;
}

.form-wizard .form-wizard-steps li:last-child::after {
  left: 0;
}

.form-wizard .wizard-password-eye {
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

@keyframes click-radio-wave {
  0% {
    width: 25px;
    height: 25px;
    opacity: 0.35;
    position: relative;
  }

  100% {
    width: 60px;
    height: 60px;
    margin-left: -15px;
    margin-top: -15px;
    opacity: 0;
  }
}

@media screen and (max-width: 767px) {
  .wizard-content-left {
    height: auto;
  }
}

/*  */
.schedule {
  background-color: black;
  border-radius: 8px;
  padding: 20px;
}

.days {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 92px;
}
.days li {
  color: #fff;
}
.day-item {
  margin-bottom: 10px;
  font-size: 16px;
}

/* Style for OFF days */
.day-item.off {
  color: #ff6666; /* Red color for OFF days */
}
.img {
  width: 200px;
  height: 203px;
}
/*  */
.white-line {
  border-bottom: 1px solid #ffffff; /* White line */
  margin-bottom: 20px; /* Adjust the margin as needed */
  /* You can also add additional styling properties here */
}
.wizard-section {
  border: 1px solid #d65470;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Updated box shadow */
}

/* Optional: Add margin to separate sections */
/* .wizard-section + .wizard-section {
    margin-top: 20px;
} */

.imges {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.form-wizard .grey {
  color: #000;
}

.form-wizard #appointmentType .rp {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.form-wizard h6 {
  line-height: 2;
}
.form-wizard #extraOptions {
  padding-top: 39px;
}
.time-div ul li {
  line-height: 27px;
}
.wizard-fieldset .pcotsfd {
  padding: 0px 27px !important;
}
.bp {
  bottom: 0px !important;
}
