/* For Mobile Screen max-width: 767*/
.addschedulec {
  padding: 5% 15%;
}
.slotlist {
  margin-left: -45px !important;
}
.deletebtn {
  width: 50px !important;
}
.edit-btn {
  width: 50px !important;
}

.imgessuccss {
  width: 30%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.form-wizard {
  padding: 0px !important;
}
.form-wizard .wizard-form-radio input[type="radio"] ~ label {
  font-size: 13px !important;
}
@media only screen and (max-width: 767px) {
  .addschedulesuccess {
    padding: 5% !important;
  }
  .addschedulec {
    padding: 20px;
  }
  .form-wizard {
    padding: 0px;
  }

  .form-wizard .imges {
    padding-bottom: 33px;
  }

  .form-wizard .form-control {
    padding: 0px;
  }
  .timedivp {
    padding: 40px 14px;
  }
  body {
    font-size: 12px;
  }
  .wizard-fieldset .col-12 {
    padding: 10px 10px !important;
  }

  .wizard-fieldset .pcotsfd {
    padding: 0px 27px !important;
  }
  .slotlist {
    margin-left: -15px !important;
  }
}
/* End For Mobile Screen max-width: 767 */
/* For Tablet Screen max-width: 991 min-width: 768*/

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .addschedulec {
    padding: 20px;
  }
  .wizard-section {
    padding: 0px;
  }
  .timedivp {
    padding: 40px 14px;
  }
  .slotlist {
    margin-left: -15px !important;
  }
}

@media (max-width: 375px) {
  .widget-card-1 {
    margin-top: 10px;
    height: 132px;
  }
  .widget-card-1 .card1-icon {
    width: 40px;
    height: 40px;

    font-size: 20px;
  }
  .card .card-block-small {
    padding: 25px 5px 5px 5px;
  }
  .pcoded-inner-content .adblog {
    padding: 10px !important;
  }
  .main-body .page-wrapper .page-header-title h4 {
    font-size: 16px !important;
  }
  .form-inline {
    display: ruby;
  }
  .setw {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
}

/* End For Tablet Screen max-width: 991 min-width: 768 */
